/* indholdet starter helt i kanen i bronseren */
html, body {
    margin: 0;
    padding: 0;
    
  }

  body
  {
    
    font-family: Arial;
 
    font-size: 30px;
  } 
  canvas {
    /* simpel layout, standard for elementer som <div>, <p>, <h1> osv */
    display: block;
    
  }
  
      Input { 
        font-weight: bold;
         }
        

      button { 
        border:3px solid goldenrod;
       
        text-align: center;
        color: #461919;
        text-shadow: 2px 2px 4px #000000;
         font-size: 20px;
        }

        #morseDisplay{
          font-weight: bold;
        }

       p{
          font-weight: bold;
        }
         
        
      