html, body {
  
    margin: 0;
    padding: 0;
    
  }

  body
  {
    font-family: Arial;
 
    font-size: 30px;
  } 
  canvas {
    display: block;
    
  }
 
  
      #decryptInput { padding: 8px; margin: 10px; }

      button { 
        place-items:center;
        border:3px, solid ,goldenrod;
        padding: 0px 0px;  font-size: 30px;}
      