html, body {
    margin: 0;
    padding: 0;
    
  }
  canvas {

    display: block;
    
  }
  
   body { 
    font-family: Arial; 
    text-shadow: 2px 2px 2px #676262;
    font-size: 30px;
   }
      button { 
        border:3px solid goldenrod; 
        text-align: center;
        color: #46191994;
        text-shadow: 2px 2px 4px #000000;
        font-size: 30px;}